[2014-11-29 13:40] ikeydoherty opened #1 "CMake non-functional"
Current CMake system is not functioning as one is reliant on ./compile :)

[2014-12-05 18:40] #1 closed, assigned to nobody

[2015-01-02 00:51] ryanleesipes opened #3 "Create Popover Menu Bones"
Need to get the barebones made for the popover menu. (settings menu)

[2015-01-02 00:52] ryanleesipes opened #4 "Clean up Errors"
Lot of "this is deprecated" warnings. Need to clean them up.

[2015-01-02 00:53] ryanleesipes opened #5 "Different Service to Share to"
Need to find a better service to use for sharing files. Pastebin is my first choice, but I'm open to any - so long as they are simple.

[2015-01-02 19:04] ryanleesipes commented on #4
This has been fixed with, can now be closed. Commit [here](https://github.com/evolve-os/journal/commit/747d52ff21f1f640f9787f57122f665b286a3006).

[2015-01-02 19:04] #4 closed

[2015-01-02 21:24] ryanleesipes opened #6 "Add Keyboard Shortcuts for open/save"
Need to add keyboard shortcuts to trigger open and save. (Ctrl+O/Ctrl+S)

[2015-01-02 21:25] ryanleesipes opened #7 "Unsaved Symbol"
Need some kind of symbol or representation present when a file is unsaved.

[2015-01-02 22:43] ryanleesipes opened #8 "Goto Number Line"
Add feature (possibly Ctrl+G), to goto a specific number line.

[2015-01-03 05:02] ryanleesipes commented on #6
This is done with http://valadoc.org/#!api=gtk+-3.0/Gtk.Application.add_accelerator and http://valadoc.org/#!api=gtk+-3.0/Gtk.Application.set_accels_for_action

Courtesy of Ikey's Valadoc searching skills.

[2015-01-04 04:20] Wolfgange3311999 opened #9 "Open files into new tab when launching Journal a second time"
When using a file manager and opening 2 text files, each will open in a new window, not one window with two tabs.

[2015-01-05 21:18] ryanleesipes commented on #9
This has been fixed with most recent commit: https://github.com/evolve-os/journal/commit/bce522924ad39db4c523627b51e25fce108d1245

[2015-01-05 21:18] #9 closed

[2015-01-13 19:31] ryanleesipes commented on #7
This has been implemented, need to include dialog box to prompt user when trying to close unsaved document.

[2015-01-16 21:42] ryanleesipes commented on #7
This has been completed.

[2015-01-16 21:42] #7 closed

[2015-01-31 22:13] ryanleesipes commented on #6
This has been added.

[2015-01-31 22:13] #6 closed

[2015-01-31 22:16] ryanleesipes commented on #3
Barebones made, but no working settings.

[2015-02-10 08:26] Justinzobel commented on #5
Resolved :D hastebin is all you need :)

[2015-02-10 08:27] Justinzobel commented on #8
Would be good to have the popup similar to the nickname changer in quirky, tiny text box, add number hit enter and away it goes.

[2015-02-10 08:27] Justinzobel opened #12 "Duplicate .desktop icon"
I pulled and built this and it creates 2 entries in the menu..

[2015-02-10 14:40] ryanleesipes commented on #12
Haven't had this issue. Hmm... Have you had it installed in the past?

On Tue, Feb 10, 2015, 2:27 AM Justin <notifications@github.com> wrote:

[2015-02-10 16:08] ryanleesipes commented on #5
This is done and is now copying to Clipboard upon share (in the beta branch).

[2015-02-10 16:08] #5 closed

[2015-02-10 16:08] ryanleesipes commented on #3
Postponed, not on schedule for first Beta release.

[2015-02-10 16:13] ryanleesipes opened #13 "Add Undo Functionality"
Currently no Undo functionality in, will need to add Undo Manager before Beta 1.

[2015-02-10 22:08] Justinzobel commented on #12
I have but I'm pretty sure it happened on the first install.

[2015-02-10 23:26] ryanleesipes commented on #12
Oh, yes, you are correct. It's because I have it going under two
categories. I'll need to adjust that.

On Tue, Feb 10, 2015, 4:08 PM Justin <notifications@github.com> wrote:

[2015-02-10 23:30] Wolfgange3311999 commented on #13
What do you mean by this? Do you mean with buttons? Basic system-wide undo functionality works (ctrl+z, ctrl+shift+z).

[2015-02-10 23:31] ryanleesipes commented on #13
I added it. Haven't marked it closed.

On Tue, Feb 10, 2015, 5:30 PM Matthew <notifications@github.com> wrote:

[2015-02-10 23:32] ryanleesipes commented on #13
Yes I mean key shortcuts. Not physical buttons.

On Tue, Feb 10, 2015, 5:32 PM Ryan Sipes <ryanleesipes@gmail.com> wrote:

[2015-02-10 23:32] #13 closed

[2015-02-11 19:08] ryanleesipes opened #15 "Can Open Same File On Multiple Tabs"
Are able to open the same file on multiple tabs, should instead recognize that the file is already open and pull that into focus.

[2015-02-11 19:33] ikeydoherty commented on #15
HashTable ftw =)

[2015-02-11 19:35] ikeydoherty commented on #8
CTRL+L?

[2015-02-11 19:44] ryanleesipes opened #16 "Print Functionality"
Cannot currently print to a real-life printer. This must be added.

[2015-02-12 22:28] ryanleesipes commented on #12
This should be fixed, removed the "Development" category from the .desktop file.

[2015-02-12 22:28] #12 closed

[2015-02-13 15:30] ryanleesipes commented on #3
This is done, two entries added to Beta2.

[2015-02-13 15:30] #3 closed

[2015-02-15 16:45] cybre opened #17 "Custom colour schemes"
An option to change the colour scheme would be great. The app could ship with a few colour schemes by default (Monokai, Solarized (Light and Dark)).

[2015-02-15 16:48] cybre opened #18 "Draggable tabs"
1. Drag tabs around the tab bar to rearrange them.
2. Drag tabs out of the tab bar to create new windows.

[2015-02-15 17:06] ryanleesipes commented on #17
I've been wanting to do this for a while. Going to mark this as an
enhancement.

On Sun, Feb 15, 2015, 10:45 AM Stefan Ric <notifications@github.com> wrote:

[2015-02-15 17:07] ryanleesipes commented on #18
#1 should be easy to accomplish, I will try and tackle it. #2 may take some
work, but I'll see what I can do.

On Sun, Feb 15, 2015, 10:48 AM Stefan Ric <notifications@github.com> wrote:

[2015-02-15 20:49] ryanleesipes commented on #15
This has been taken care of.

[2015-02-15 20:49] #15 closed

[2015-02-15 23:12] cybre opened #19 "Icon looks weird in small sizes"
As you can see here:
![screenshot from 2015-02-16 00 05 56](https://cloud.githubusercontent.com/assets/3101505/6205492/619a2e0a-b567-11e4-9c41-1d57e0491014.png)
The icon, when displayed big, looks great.

But in the panel:
![screenshot from 2015-02-16 00 06 12](https://cloud.githubusercontent.com/assets/3101505/6205499/c09073ba-b567-11e4-89a7-e36a5a887a38.png)
the lines are barely visible and the

[2015-02-16 00:20] ryanleesipes commented on #19
Yep, fixing this right now :)

[2015-02-16 00:20] #19 closed

[2015-02-16 02:41] cybre opened #22 ""File changed" indicator is present even after reverting the changes"
The indicator should not be visible and the save button should revert to the normal style when I revert any changes made to the document (both saved and unsaved).

[2015-02-16 02:44] cybre opened #23 "Tab bar still visible even with only one tab present"
Steps to reproduce:
1. Create new tab
2. Make some changes
3. Click on the "file changed" indicator
4. Click "OK"

As you can see, the first (and only) tab is visible when it should be hidden.

[2015-02-16 02:58] ryanleesipes commented on #23
Is this with the newest version? Also did you post a screenshot?

[2015-02-16 03:00] ryanleesipes commented on #22
Yes, this is something I have thought about. Right now it mimics Sublime Text in that it acts as though it has been changed even if you revert the changes. But I think I can set it up to behave properly and lose the indicator if reverted back. Thanks for all the testing by the way!

[2015-02-16 03:13] cybre commented on #23
Yes, this is the newest version (0.7.1).
Haha, I actually forgot to post the screenshot, here it is:
![screenshot from 2015-02-16 04 12 02](https://cloud.githubusercontent.com/assets/3101505/6206780/b39f1112-b589-11e4-8a9f-3ea8eae2178b.png)

[2015-02-16 03:14] ryanleesipes commented on #23
I found the problem. Easy fix, will update here in a while. Thanks so much for your help!

[2015-02-16 03:14] cybre commented on #23
No problem :)

[2015-02-16 03:20] cybre opened #24 "Don't upload empty files to hastebin"
Right now, clicking the share button uploads the content to hastebin even if the document is empty, thus creating an empty paste.

[2015-02-16 03:59] ryanleesipes commented on #24
Yes, this behavior should be changed.

[2015-02-16 16:27] ryanleesipes commented on #23
This has been fixed! :)

[2015-02-16 16:27] #23 closed

[2015-02-16 16:28] cybre commented on #23
Great!

On Mon, 16 Feb 2015 17:27 Ryan Sipes <notifications@github.com> wrote:

[2015-02-17 17:54] ryanleesipes opened #25 "Show Document Name when only One Doc"
Show document name as subtitle when editing only one document.

[2015-02-17 20:56] ryanleesipes commented on #24
This has been fixed in the v1.0 branch. However whitespace longer than 0 spaces is allowed to accommodate uses such as this: http://en.wikipedia.org/wiki/Whitespace_%28programming_language%29

[2015-02-17 20:56] #24 closed

[2015-02-17 21:34] zesterer commented on #22
To do this would involve saving a copy of the current data, or at least the steps needed to reproduce it. Tbh, pretty much every text editor I've used does this so I don't think it's a huge problem.

[2015-02-17 21:38] ryanleesipes commented on #22
Yeah, it looks like there is some kind of way to handle this in the Vala libraries. But I'm not sure how this would affect performance to run it every time an edit is made.

[2015-02-17 21:42] ryanleesipes opened #26 "Option to always show tabs."
Need an option to always show tabs.

[2015-02-18 02:05] Wolfgange3311999 commented on #22
I've seen some where it will notice if you undo everything with ctrl+z. What about some calculation/sum of the text (hash/checksum or something) and just store the original sum and calculate the current one to compare?

On Feb 17, 2015, at 3:38 PM, Ryan Sipes <notifications@github.com> wrote:

[2015-02-18 02:44] ryanleesipes opened #31 "Right Click Buttons For More Functions"
Such as right click save for save as. Or open for list of previously opened files.

[2015-02-18 22:56] ryanleesipes commented on #17
All but Monokai are in there, I will create another issue for adding that scheme.

[2015-02-18 22:56] #17 closed

[2015-02-18 22:57] ryanleesipes opened #33 "Add Monokai color scheme"
Add monokai color scheme to available schemes.

[2015-02-19 12:58] zesterer commented on #17
Dunno. It should auto-detect all installed themes. If its not showing up,
it's because it's not installed.
On 18 Feb 2015 22:56, "Ryan Sipes" <notifications@github.com> wrote:

[2015-02-19 15:21] zesterer commented on #16
I can't really understand why printing is necessary. The primary function of a text editor is to alter plaintext that remains on the local machine. If someone wishes to print this text out as a document, they use a word processor like libre office. Dealing with printing will become very complex and take a lot of time, forcing you to deal with advanced formatting issues, altering the original goal

[2015-02-19 16:05] ryanleesipes commented on #17
Unfortunately @zesterer this isn't the case anymore. It will detect the themes, but they will not work due to the current implementation (if they are not hard-coded - change was made to accommodate glib). However, I think we need to look at how to tackle that issue before moving forward. I have some ideas, we should talk about them.

[2015-02-19 16:06] ryanleesipes commented on #18
1 has been accomplished. 2 is half accomplished.

[2015-02-19 19:27] ryanleesipes commented on #18
Detachable tabs is moved to next release.

[2015-02-19 19:27] #18 closed

[2015-02-19 19:30] ryanleesipes opened #34 "Detachable Tab -> New Window"
Need to ensure that tabs can be detached to create new windows.

[2015-02-19 19:32] ryanleesipes commented on #16
I think I will not try and hit this release, but I do want this to stay on the features to implement eventually. As I use it at work. :)

[2015-02-19 19:46] zesterer commented on #16
Maybe instead functionality to export to PDF? Then it's in a printable
form. Could even include syntax highlighting formatting maybe...
On 19 Feb 2015 19:32, "Ryan Sipes" <notifications@github.com> wrote:

[2015-02-19 21:39] ryanleesipes commented on #26
Removed this from the 1.0 Milestone.

[2015-02-19 21:40] ryanleesipes commented on #16
I'd be open to that.

[2015-02-20 19:57] ryanleesipes commented on #31
Closed as per conversation in IRC regarding this issue.

[2015-02-20 19:57] #31 closed

[2015-02-20 19:58] ryanleesipes commented on #22
Marking this closed unless someone is planning to do a pull request to fix this.

[2015-02-20 19:58] #22 closed

[2015-02-20 19:59] ryanleesipes commented on #34
This has been done! Simply can't reattach them at this point!

[2015-02-20 21:31] zesterer commented on #22
Probably not needed. Maybe it should only perform this operation on files
under a certain character length?
On 20 Feb 2015 19:58, "Ryan Sipes" <notifications@github.com> wrote:

[2015-02-20 21:34] ryanleesipes commented on #33
@zesterer any idea how to add color schemes to one's installation?

[2015-02-22 20:07] ryanleesipes commented on #33
If Monokai is an installed color scheme, it will work.

[2015-02-23 17:06] ryanleesipes commented on #25
This has been completed, in v1.0 it shows the document name as a subtitle in all cases.

[2015-02-23 17:06] #25 closed

[2015-02-23 17:06] #34 closed

[2015-02-23 17:07] ryanleesipes opened #36 "Reattach Tabs (pages) to other Windows' Notebooks"
Need to add the ability to move pages(tabs) between window notebooks.

[2015-02-26 21:32] ryanleesipes commented on #26
This has been done 1.0 merged into master.

[2015-02-26 21:32] #26 closed

[2015-02-27 21:31] Justinzobel opened #40 "Build issue with dynamiclist.vala"
make[2]: *** No rule to make target `../src/dynamiclist.vala', needed by `journal_valac.stamp'.  Stop.
make[1]: *** [CMakeFiles/journal.dir/all] Error 2

Vala 0.26.2 on Evolve OS

[2015-02-27 22:54] ryanleesipes commented on #40
This has been solved. /src/dynamiclist.vala was removed from CMakeLists file.

[2015-02-27 22:54] #40 closed

[2015-02-27 22:55] ryanleesipes opened #41 "Copy To Clipboard option on share."
After clicking share, should have a copy to clipboard option instead of automatically doing it.

[2015-02-27 23:52] Justinzobel opened #42 "[FEATURE] Open new document from nautilus in existing window"
When opening a file from an external source e.g. terminal or file manager, open it in the existing Journal window.

Perhaps this can be an option, Open new files in {new tab, new window}

[2015-02-27 23:52] Justinzobel opened #43 "[FEATURE] Font Selection"
Need font selection.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9033723-feature-font-selection?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_source

[2015-02-27 23:56] Justinzobel opened #44 "[ENHANCEMENT] Closing windows doesn't offer users a save option"
When closing a journal window, have it check to see if any are unsaved and prompt the user for each one to see if they want it saved before the window is closed and changes lost (see gedit code for example, though theres doesn't actually close it after you save the item strangely).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9033

[2015-02-28 03:31] ryanleesipes commented on #44
Lol. This should be easy considering I already have the code for when you
close an unsaved tab.

On Fri, Feb 27, 2015, 5:56 PM Justin <notifications@github.com> wrote:

[2015-02-28 03:31] ryanleesipes commented on #42
Oh yes. Forgot about this one.

On Fri, Feb 27, 2015, 5:52 PM Justin <notifications@github.com> wrote:

[2015-02-28 05:14] ryanleesipes commented on #42
This has been fixed with the most recent commit. Enjoy!

[2015-02-28 05:14] #42 closed

[2015-02-28 06:16] ryanleesipes commented on #41
This has been added with most recent update.

[2015-02-28 06:16] #41 closed

[2015-02-28 19:35] zesterer commented on #40
Why did this become an issue? DynamicList should work fine for everything. If there's an issue, It would be great to know so I can fix it.

[2015-02-28 19:55] ryanleesipes commented on #40
Dropped the file and moved to GLib.List after consulting with Ikey, as per
our conversation before.

On Sat, Feb 28, 2015, 1:35 PM Barry Smith <notifications@github.com> wrote:

[2015-03-01 10:11] Justinzobel opened #45 "[BUG] Doesn't remember theme colour after closing/re-opening"
Doesn't remember theme colour after closing/re-opening

[2015-03-02 05:04] Justinzobel opened #46 "[FEATURE] Ctrl + Q to Quit"
As per the subject :D

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9100887-feature-ctrl-q-to-quit?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_sourc

[2015-03-02 14:42] ryanleesipes commented on #46
Is this a shortcut in other editors?

On Sun, Mar 1, 2015, 11:05 PM Justin <notifications@github.com> wrote:

[2015-03-02 17:52] zesterer commented on #46
As far as I'm aware, it is. If not, then it's a good one.

Although be careful. If Ctrl+W is close tab, then a tiny slip of they fingers can spell disaster :D

[2015-03-02 17:56] ryanleesipes commented on #45
This all has to do with Gsettings. I may try my hand at this, although it will probably be a major chore.

[2015-03-02 18:44] ikeydoherty commented on #46
ALT+F4? :)

[2015-03-02 18:53] zesterer commented on #46
Touché

[2015-03-02 19:27] ryanleesipes commented on #46
Actually what I was thinking (alt+F4). However, I may implement something for closing current tab and cycling through tabs.

[2015-03-02 21:09] Justinzobel commented on #45
Just have a look at the way budgie does it. Should be able to steal most of
the code for it.

On Tue, 3 Mar 2015 at 04:26 Ryan Sipes <notifications@github.com> wrote:

[2015-03-02 21:11] Justinzobel commented on #46
Barry why did you just close this? Is it implemented?

Ryan it is a shortcut in Gedit and another though I can't remember what it
was.

Alt F4 is a bit A) more difficult and B) a Windows thing :P

On Tue, 3 Mar 2015 at 05:58 Ryan Sipes <notifications@github.com> wrote:

[2015-03-02 21:12] Justinzobel commented on #46
Also being next to close tab isn't an issue, you can always re-open
Journal, and if the save-mechanism is working fine (ie not allowing a user
to close a tab that isn't saved without a prompt) I see no issues at all....

On Tue, 3 Mar 2015 at 07:41 Justin Zobel <justin.zobel@gmail.com> wrote:

[2015-03-02 21:45] ryanleesipes commented on #46
Confirmed as a keyboard shortcut in Gedit. I will implement it.

On Mon, Mar 2, 2015, 3:12 PM Justin <notifications@github.com> wrote:

[2015-03-02 22:42] zesterer commented on #46
To answer your question Justin, I was typing fast and pressed Tab to switch the the next element on the page, assuming it's be "comment". Turns out it was "close and comment"...

[2015-03-02 22:57] Justinzobel commented on #46
Heh github to the rescue! Bit of a crap tab order.

On Tue, 3 Mar 2015 at 09:12 Barry Smith <notifications@github.com> wrote:

[2015-03-02 22:57] ryanleesipes commented on #45
This has been done, just need to get it to remember if the window is maximized or normal - as well as the size of the window.

[2015-03-03 21:14] ryanleesipes commented on #45
Now remembers size of window.

[2015-03-03 21:14] #45 closed

[2015-03-03 21:14] ryanleesipes commented on #43
Using monospace, will look into more options in regards to font selection.

[2015-03-03 21:23] cybre opened #47 "Create a new tab when closing the last tab"
Sublime does this and it's better than just having the blank window.
EDIT: Do this when dragging the last tab out of the window, too.

[2015-03-03 21:53] Justinzobel commented on #43
Monospace is good, other monospace options might suit each user differently
:)

On Wed, 4 Mar 2015 at 07:44 Ryan Sipes <notifications@github.com> wrote:

[2015-03-03 22:18] ryanleesipes commented on #47
It's a good idea. Marked as an enhancement.

[2015-03-03 22:21] ryanleesipes commented on #33
Looking at some ways for style scheme management.

[2015-03-03 22:22] ryanleesipes commented on #17
@cybre check out #33 it has been reopened in order to address this is a really awesome way.

[2015-03-05 22:49] ryanleesipes commented on #47
This has been finished.

[2015-03-05 22:49] #47 closed

[2015-03-06 22:35] #33 closed

[2015-03-06 22:36] ryanleesipes opened #48 "Add Style Scheme Manager"
Want to add some kind of style scheme manager to allow users to install more themes as they please.

[2015-03-06 22:39] ryanleesipes commented on #43
Will have to look into this more, as I'm not a monospace expert. What other monospace options are there?

[2015-03-07 00:29] zesterer commented on #48
Probably best to let it keep using Gtk's style scheme manager for inter-app consistency purposes.

[2015-03-07 00:31] ryanleesipes commented on #48
I agree. I think I'm going to create something that lets people download
new ones.

On Fri, Mar 6, 2015, 6:29 PM Barry Smith <notifications@github.com> wrote:

[2015-03-07 00:35] zesterer commented on #48
Ok, just so long as it runs through Gtk (and hence applies to every other program)

[2015-03-07 05:55] Justinzobel commented on #43
Not so much just monospace but options for any font on the system. Others
might have a custom monospace that they want so a list of fixed options
isn't worthwhile, just a standard font chooser like most text editors have.

On Sat, 7 Mar 2015 at 09:09 Ryan Sipes <notifications@github.com> wrote:

[2015-03-15 23:33] Justinzobel opened #49 "[FEATURE] Find/Find&Replace"
Ctrl F / Ctrl H are pretty standard shortcuts for them :D
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9599555-feature-find-find-replace?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker

[2015-03-17 15:31] ryanleesipes commented on #36
This is *finally* done.

[2015-03-17 15:31] #36 closed

[2015-03-17 16:45] zesterer commented on #36
Yaaaaaay. Nice one.

[2015-03-17 22:17] cybre opened #50 "Problems with tabs when dragging out of the window."
So, let's do this in steps:
1. Open a second tab (with "Always show tabs" disabled)
2. Drag one of the tabs out of the window.
You can see that in both of the windows, the single tab is visible.
Same thing happens when attaching tabs, too.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9676283-problems-with-tabs-when-dragging-out-of

[2015-03-18 02:01] ryanleesipes commented on #50
Yes, I knew about this one. Was thinking about if I wanted to expose the one tab in the event that the user wanted to move it back.

[2015-03-18 14:38] ryanleesipes commented on #50
@cybre I assume you would prefer it not be exposed?

[2015-03-18 18:34] cybre commented on #50
I'm not sure. It does look weird but usability-wise, leaving it visible
makes sense.

On Wed, 18 Mar 2015 15:38 Ryan Sipes <notifications@github.com> wrote:

[2015-03-18 18:40] cybre commented on #50
One thing I would change is: when dragging out the last tab ("Always show
tabs" enabled), close the window. Currently, dragging out the last tab
leaves a notebook-less window open.

On Wed, 18 Mar 2015 19:34 Stefan Ric <stfric369@gmail.com> wrote:

[2015-03-22 21:03] greendragon2010 opened #51 "install Journal outside evolve (Arch)"
I have the following error when I install journal:
(process:30404): GLib-GIO-ERROR **: Settings schema 'com.evolve-os.journal' is not installed

But once I installed Budgie it fixed the issue.

[2015-03-23 18:14] zesterer commented on #51
Yeah... @ryanleesipes you should probably make journal independent from Budgie with regards to GLib.Settings if you want to truly make Journal platform-agnostic.

[2015-03-24 05:48] Justinzobel opened #52 "[FEATURE REQUEST] Alt + Number to switch tabs"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9939335-feature-request-alt-number-to-switch-tabs?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_source=gi

[2015-03-25 16:18] greendragon2010 commented on #51
I am working on a patch to check and see if com.evolve-os.journal exist in gsettings and if it doesn't created it so journal can run independent of Budgie. Any help will be appreciated since I've never used vala before.

[2015-03-25 16:29] ikeydoherty commented on #51
This has nothing to do with Budgie.. You need to recompile your schemas after install.

@zesterer given this is in evolve-os whats the harm in using evolveos schemas??

@greendragon2010 sudo glib-compile-schemas /usr/share/glib-2.0/schemas

[2015-03-25 16:38] greendragon2010 commented on #51
When I installed the package from on Arch from the aur that was the error I got.

My plan to fix this is to still use "com.evolve-os.journal" as the scheme since it is a evolve os project. I also know someone who had s schema issue to when they install journal from the aur but it was a slightly different error.  I'm just trying to make sure the application will create the scheme if doesn't exist,

[2015-03-25 16:40] ikeydoherty commented on #51
@greendragon2010  yup. So a package like budgie-desktop automatically does this post-install,however Journal does not, and that's where the issue is. So when you installed budgie, it recompiled all the schemas, including Journal's :)

[2015-03-25 16:41] greendragon2010 commented on #16
I print a lot of code for school, yes I said I print code. I always save to pdf first so that I get syntax highlighting and line numbers. Plus it makes it easier to print from the school's computers.

[2015-03-25 16:42] greendragon2010 commented on #51
@ikeydoherty  could we make Journal do this so it is not an issue, or could we have a pop up and ask the user to do it if the scheme doesn't exist? Just playing with ideas.

[2015-03-25 16:45] ikeydoherty commented on #51
@greendragon2010 problem is if the scheme doesn't exist, it will die. This is technically the correct behaviour. So it needs to either be corrected within the packaging, or within the package.

Now, when you have binary packages (outside of AUR) - a package has post installs to achieve this. i.e. its not done at build time. It should only be done on a non DESTDIR make install.

I'm not familiar en

[2015-03-25 16:49] greendragon2010 commented on #51
Okay, I will look into cmake and see if I can figure it out. I have professor that understands cmake and make since he teaches C. I'll ask him if he knows or knows resources I can use to figure it out.

[2015-03-25 19:21] greendragon2010 commented on #51
I believe this can be closed. If you follow the instruction to build and install then it will create the schemas for you. So people packaging this for other distros need to make sure this happens, and we can call this a packaging issue and not an application issue.

[2015-03-25 19:39] ryanleesipes commented on #50
That is a good idea @cybre - I will see if I can do that.

[2015-03-25 19:40] ryanleesipes commented on #51
@greendragon2010 great work, yeah, looks like Justin may need to take a look at this, as I think he may maintain the Arch package.

[2015-03-25 19:41] Justinzobel commented on #51
This is my bad. I made the AUR package. Will fix up asap

On Thu, 26 Mar 2015 5:51 am John Hamernick-Ramseier <
notifications@github.com> wrote:

[2015-03-25 21:32] ryanleesipes commented on #51
@Justinzobel would you like me to assign this bug to you, so you can close it when you are done?

[2015-03-25 21:33] ryanleesipes commented on #51
Eh, nevermind, I can't assign it to you @Justinzobel - @ikeydoherty can Justin be included in the org?

[2015-03-25 21:37] ryanleesipes commented on #51
There we go :)

[2015-03-26 01:48] Justinzobel commented on #51
@greendragon2010 closing this off as i've updated the AUR install file, please re-open if it's not resolved.

[2015-03-26 01:48] #51 closed

[2015-03-26 01:55] Justinzobel commented on #51
Just confirmed this working from an Arch live ISO without budgie.

[2015-03-26 01:59] greendragon2010 commented on #51
I believe the issue is fixed, just tested in a systemd container.

[2015-03-26 02:09] greendragon2010 opened #53 "Plugin Manager"
Would we like to make journal gedit plugin compatible or do we want to build our own plugin interface.

If so how do we want to implement it?
Gnome-Shell style, were plugins could potentially break with every update.

or

Plugin Manager, that has a documented API that we can build a community around.

[2015-03-27 01:30] ryanleesipes commented on #53
Some people have recommended out own plugins. I honestly am unsure what the
best thing to do is.

On Wed, Mar 25, 2015, 9:09 PM John Hamernick-Ramseier <
notifications@github.com> wrote:

[2015-04-01 05:13] Justinzobel opened #54 "Ctrl S doesn't work with multiple tabs open"
As per the title
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10298227-ctrl-s-doesn-t-work-with-multiple-tabs-open?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=

[2015-04-02 01:57] ryanleesipes commented on #54
It appears to work with multiple tabs on mine, but the original window doesn't work when I drag a tab out of the notebook to generate a new window. Can you confirm this behavior is happening to you when you only have one Journal window?

[2015-04-02 01:58] ryanleesipes commented on #53
@greendragon2010 you still up to do this, feel free to set the ground work for plugins. I will accept pull requests :)

[2015-04-02 01:59] ryanleesipes opened #55 "Opening a file when currently selected file is blank discards blank file."
If it is a blank file that has been opened, should be left open.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10342984-opening-a-file-when-currently-selected-file-is-blank-discards-blank-file?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.b

[2015-04-02 22:46] ryanleesipes commented on #54
@Justinzobel can you verify whether or not you had multiple windows open at the time?

[2015-04-03 06:28] Justinzobel commented on #54
Sorry not sure, I'll note down more details next time it happens.

On Fri, 3 Apr 2015 at 09:16 Ryan Sipes <notifications@github.com> wrote:

[2015-04-05 17:46] boghison opened #56 "Needs renaming to Solus"
Every occurrence of Evolve needs to be renamed to Solus.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10519633-needs-renaming-to-solus?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%

[2015-04-05 17:46] boghison commented on #56
I am going to submit a pull request soon :)

[2015-04-05 18:23] boghison opened #58 "Code style"
Code is inconsistent, uses EvolveTab (to be renamed to SolusTab) etc. instead of JournalTab etc. Tabs and spaces are mixed.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10520780-code-style?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.boun

[2015-04-06 19:14] #56 closed

[2015-04-06 19:16] ryanleesipes commented on #58
@boghison I think this was handled in your pull request, is that correct? Feel free to make any future pull requests, I haven't had as much time to work on things lately. But if you want to work on anything or have questions just let me know.

[2015-04-06 19:57] boghison commented on #58
@ryanleesipes no, not all of it, but if I have time I'll definitely look into improving the code readability :)

[2015-04-13 15:43] funnylookinhat opened #59 "Unable to change tab width"
8 characters is an awful wide tab for some of us...  adding the ability to set it to 4 or 2 characters would be nice.  The ability for the "tab" key to actually insert spaces instead of tabs would be nice too.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11054393-unable-to-change-tab-width?utm_campaign=plugin&utm_content=tracker%2

[2015-04-14 13:31] zesterer commented on #59
Defaulting to 4 characters in width would be nice.

[2015-04-14 15:57] ikeydoherty commented on #59
GtkSourceView supports all of these things.. and more! ^^

[2015-04-14 23:16] Justinzobel commented on #59
Moar? :D

On Wed, 15 Apr 2015 at 01:27 Ikey Doherty <notifications@github.com> wrote:

[2015-04-14 23:31] zesterer commented on #59
Yes, Moar!

On 15 April 2015 at 00:17, Justin <notifications@github.com> wrote:

--
Thanks,

Barry Smith

[2015-04-21 04:15] ryanleesipes commented on #59
@zesterer Send me the pull request and I'll accept it. :)

[2015-05-04 03:33] greendragon2010 commented on #53
Okay here's my idea, create an application api that plug-ins can write to. Then have a plug-in manager down the road that will be able to turn on and off plug-ins.

[2015-05-04 09:19] zesterer commented on #53
It can be done certainly. But it's a big job for @ryanleesipes. There's a lot to do when it comes to exposing a proper API to any plugins. I'm sure it'll eventually come in an update though.

[2015-05-08 09:24] niyasc opened #60 "Brief Description of Journal?"
Can you please add a one line description about journal to README file of this repository?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13649225-brief-description-of-journal?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?u

[2015-05-09 06:59] #60 closed

[2015-05-11 19:49] ryanleesipes commented on #50
Marking this closed as I think current behavior is pretty good.

[2015-05-11 19:49] #50 closed

[2015-05-17 16:18] greendragon2010 commented on #53
My computer went down shortly after I post this, sorry for the long delay on the reply.

I am willing to write a proper API so @ryanleesipes doesn't have to. I'm also willing to learn so that this API is done correctly.

[2015-05-18 20:14] ryanleesipes commented on #53
@greendragon2010 feel free to ask me any questions. Personally I am not sure the best way to tackle this, but I am open to whatever works.

[2015-05-25 17:48] #55 closed

[2015-05-25 17:49] ryanleesipes commented on #46
This was taken care of by @michaelrutherford

[2015-05-25 17:49] #46 closed

[2015-05-25 20:41] michaelrutherford commented on #52
Just added this feature in commit #63 .

[2015-05-26 01:52] ryanleesipes commented on #52
@Justinzobel It has been added :)

[2015-05-26 01:52] #52 closed

[2015-05-26 02:18] Justinzobel opened #67 "Swap Ctrl N and Ctrl T"
Ctrl N imho should be new Window
Ctrl T should be new Tab
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/17715225-swap-ctrl-n-and-ctrl-t?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2

[2015-05-26 02:18] Justinzobel opened #68 "Ctrl W to close Tab"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/17715299-ctrl-w-to-close-tab?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_source=github).
</bountysource

[2015-05-26 11:46] michaelrutherford commented on #67
I actually almost implemented this in my last commit, but I didn't know if anybody else would want that. I'll go ahead and start working on it.

[2015-05-26 11:49] Justinzobel commented on #67
Heh I demand far too many features :D

[2015-05-26 13:32] ryanleesipes commented on #67
Yarb.

[2015-05-26 13:43] ryanleesipes opened #69 "Add Edit Menu Option - Put "Indent" under there?"
What do you guys think? Should we put Indent under an "Edit" menu option instead?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/17854380-add-edit-menu-option-put-indent-under-there?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.

[2015-05-26 15:20] michaelrutherford commented on #69
That sounds good to me. I'll go ahead and work on that as soon as I can.

[2015-05-26 16:31] michaelrutherford commented on #69
My latest pull request addresses and corrects this issue.

[2015-05-26 16:39] ryanleesipes commented on #69
Excellent.

[2015-05-26 16:39] #69 closed

[2015-05-26 16:44] ryanleesipes commented on #54
I ran into this issue, appears to be when there are multiple windows, Ctrl+S no longer works with the old window at that point.

[2015-05-26 16:45] ryanleesipes commented on #58
Much of this has been fixed in clean-ups. Will continue to do work to make this better.

[2015-05-26 16:45] #58 closed

[2015-05-26 20:25] michaelrutherford commented on #59
Just added this feature in the 1.0.1 release of Journal.

[2015-05-26 21:37] Justinzobel commented on #54
Oh cool, at least it's reproducible, sorry I didn't get back to you with more info.

[2015-05-26 21:40] Justinzobel commented on #59
Fixed in 1.0.1, thanks @michaelrutherford

[2015-05-26 21:40] #59 closed

[2015-05-27 01:52] Justinzobel commented on #44
Fixed in https://github.com/solus-project/journal/pull/71

[2015-05-27 01:52] #44 closed

[2015-05-27 01:52] #68 closed

[2015-05-27 01:53] Justinzobel commented on #68
Fixed in https://github.com/solus-project/journal/pull/71

[2015-05-27 21:49] ryanleesipes opened #73 "Ctrl+Q, asks if you want to save document when no document present."
When closing the application with Ctrl+Q, you are asked if you are sure you want to close the unsaved document, and asked if you would like to save the document when one is not present.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/18202587-ctrl-q-asks-if-you-want-to-save-document-when-no-document-present?utm_campaign=plugin&utm_co

[2015-05-27 23:01] michaelrutherford commented on #73
This has been fixed in my latest pull request.

[2015-05-28 04:55] Justinzobel commented on #73
Closing re PR https://github.com/solus-project/journal/issues/74

[2015-05-28 04:55] #73 closed

[2015-05-28 14:30] michaelrutherford commented on #67
The CTRL+T shortcut was added in the last update. I'm currently working on CTRL+N.

[2015-05-28 16:08] michaelrutherford commented on #49
The search/find functionality was added in the last commit.

[2015-05-28 16:15] michaelrutherford commented on #49
I'm currently working on the keyboard shortcuts and replace functions..

[2015-05-28 20:34] michaelrutherford commented on #16
This would require more dependencies and a lot of work. Perhaps it should be moved past the 1.1 milestone?

[2015-05-28 21:42] ryanleesipes commented on #16
Changed to 1.2

[2015-05-28 21:42] ryanleesipes commented on #49
:) awesome.

[2015-05-30 01:45] michaelrutherford commented on #54
I'll start working on a fix as soon as I can.

[2015-06-01 07:55] zesterer opened #75 "Settings schema 'com.solus-project.journal' is not installed"
Here you go. Problem for you.

I have an older version of budgie desktop installed, and I'd rather not install the new one for now. Any fixes for this missing gsettings schema? Maybe it's best to package it with Journal itself...

`(process:24597): GLib-GIO-ERROR **: Settings schema 'com.solus-project.journal' is not installed

fish: Job 1, “journal” terminated by signal SIGTRAP (Trace or breakpoi

[2015-06-03 21:39] Justinzobel commented on #75
What OS?

[2015-06-03 21:40] Justinzobel opened #76 "Hide search in headerbar until called upon"
It's a bit of an eyesore, should be hidden until needed. See evolve-sc if you need to see code for having it show when needed.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20192290-hide-search-in-headerbar-until-called-upon?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_source=github)** We accept bounties

[2015-06-03 21:44] michaelrutherford commented on #76
Yeah, it was mainly there for debugging and testing the search function. I'll take it down as soon as I can.

[2015-06-03 22:04] zesterer commented on #75
Arch Linux.
On 3 Jun 2015 22:39, "Justin" <notifications@github.com> wrote:

[2015-06-03 23:39] Justinzobel commented on #75
Did you install it from the AUR? The AUR version has the postinstall to fix this.

[2015-06-03 23:39] Justinzobel commented on #76
No rush @michaelrutherford all good, great work so far.

[2015-06-04 00:19] Justinzobel opened #77 "[RFE] Set focus to window when adding a new tab"
When adding a new tab via Ctrl N it focuses to the box so you can start typing straight away.

When adding a tab from the button in headerbar it doesn't focus.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20227074-rfe-set-focus-to-window-when-adding-a-new-tab?utm_campaign=plugin&utm_content=tracker%2F8949790&utm_medium=issues&utm_s

[2015-06-04 00:25] michaelrutherford commented on #77
Currently working on this. I have this issue on start-up as well.

[2015-06-04 18:44] #76 closed

[2015-06-04 18:46] michaelrutherford commented on #76
This issue was fixed in the last commit.

[2015-06-04 21:49] Justinzobel commented on #76
Awesome cheers Michael!

On Fri, 5 Jun 2015 at 04:16 Michael Rutherford notifications@github.com
wrote:

[2015-06-04 22:13] Justinzobel opened #78 "Not saving indent info between sessions"
Open it, set indent to auto, 4 space, close, reopen and it's reset to default.

It also isn't applying the indentation settings to all open documents, I set it to 2, opened a new document and the tab indentation is at default in the new document.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20511937-not-saving-indent-info-between-s

[2015-06-04 22:14] Justinzobel opened #79 "[Feature] Settings dialog"
Time to move away from the menu a bit and into a settings dialog I think. The menu is too clunky, I have to open it to change each setting. If I want to mess with indents for example I have to open the menu 3 times to change all of the settings.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20512105-feature-settings-dialog?utm_campa

[2015-06-08 11:07] ikeydoherty commented on #75
Unrelated to Budgie Desktop. You need to install Journal and then update the schemas:

`sudo glib-compile-schemas /usr/share/glib-2.0/schemas`

[2015-08-25 11:46] ghost opened #80 "Fedora, solus-journal"
_Hi, for Fedora users you could install solus-journal from https://copr.fedoraproject.org/coprs/region51/solus-journal/_
![2015-08-25 15-00-48](https://cloud.githubusercontent.com/assets/13280183/9466069/8506247a-4b3a-11e5-88cd-10a25a71ce92.png)

[2015-10-12 03:19] #43 closed

[2017-07-30 01:54] Justinzobel commented on #49
Closing due to journal no longer in development.

[2017-07-30 01:54] #49 closed

[2017-07-30 01:54] Justinzobel commented on #54
Closing due to journal no longer in development.

[2017-07-30 01:54] #54 closed

[2017-07-30 01:54] Justinzobel commented on #67
Closing due to journal no longer in development.

[2017-07-30 01:54] #67 closed

[2017-07-30 01:55] Justinzobel commented on #77
Closing due to journal no longer in development.

[2017-07-30 01:55] #77 closed

[2017-07-30 01:55] Justinzobel commented on #78
Closing due to journal no longer in development.

[2017-07-30 01:55] #78 closed, assigned to nobody

[2017-07-30 01:55] Justinzobel commented on #79
Closing due to journal no longer in development.

[2017-07-30 01:55] #79 closed, assigned to nobody